footer {
    background-color: black;
    color: white;
}

.footer_content {
    padding-top: 120px;
    display: flex;
    justify-content: space-evenly;
}

.footer_title {
    font-size: 40px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 0.03em;
}

.footer_body {
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0.02em;
}

.left_block {
    padding-left: 100px;
}

.footer_media figure {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
}

.right_block ul li{
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0.02em;
    color: #8E8E8E;
}

.list_title {
    color:#D9D9D9;
}

.list_wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.list_wrapper ul {
    padding-left: 20px;
}